<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 billhist-base ivr-base nopadd">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 billhist-generatebill text-right nopadd">
        <h2 class="main-title">Android Lists</h2>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 searchbar-container nopadd">
        <input type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchbar" placeholder="Search">

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 billhist-generatebill text-right nopadd">
            <a routerLink="/admin/android/addcompany" class="themebtn1"><span class="plus-icon-bill">+</span>ADD COMPANY</a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 billhist-generatebill text-right nopadd">

            <div class="theme-table">

                <p-table #dt class="table table-striped" [columns]="cols" [value]="datasource" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                            <th style="width: 95px">
                                Action
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>{{rowData.displayName}}</td>
                            <td>{{rowData.ivrName }}</td>
                            <td>{{rowData.baseKeyCode}}</td>
                            <td>{{rowData.customerCare}}</td>
                            <td><img src="{{rowData.logoUrl}}" width="50" /></td>
                            <!--  <td>{{rowData.tagline}}</td>-->
                            <td>{{rowData.category}}</td>
                            <td>
                                <p> <a (click)="showjson_ivr(rowData.name, rowData.ivrName)" class="custom-red">View Json</a></p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>


            </div>
        </div>
    </div>

</div>
<div *ngIf="jsondata" class="login-modal modal fade " id="myModal">
    <i class="mdi mdi-close" (click)="closemodal()"></i>
    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-12 nopadd">
            <div style="padding: 30px" class="modal-body col-md-12  ">

                <!-- <ngx-json-viewer [json]="jsondata"></ngx-json-viewer>-->
                <pre>{{jsondata | json}}</pre>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="!datasource"></app-loader>