a.edit-iocn img {
    margin: 0 10px 0 0px;
}

.ivr-request-btn {
    margin-top: 15px;
    float: left;
}

.company-details-sections>input {
    margin: 5px 20px 0 0;
    width: 46%;
}

.approvedtext {
    color: green;
    cursor: default;
    text-decoration: none;
    &:hover {
        cursor: default;
        text-decoration: none;
    }
}