
$font-regular:PoppinsRegular;
$font-bold:PoppinsBold;
$font-light:PoppinsLight;
$font-semibold:PoppinsSemiBold;
$black:#000;
$themebg:#e6272b;
$white:#fff;
$greybg:#f7f7f7;
$head-color:#474a4d;
$font-color:#333333;
$font-color1:#666666;
$font-color2:#474a4d;
$border-color:#e5e5e5;
$bg_discover:#443353;
$left:left;
$right:right;
$left_abs:left;
$right_abs:right;
$servicetheme:#ff5a5f;
$new_headcolor:#5c3290;
