<div class="breadcrumb-base col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <ul class="breadcrumb">
        <li><a routerLink="/admin/users">User List</a></li>
        <li><a> {{userId ? register?.companyname : 'Create User'}}  </a></li>
    </ul>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="user">
        <div class="col-md-12 myaccount-base">
            <h2 class="main-title">{{userId ? register?.companyname : 'Create User'}}</h2>
            <div class="col-md-12 myaccount-inner">
                <ul class="nav themetab nav-tabs" role="tablist">
                    <li role="presentation"><a routerLink="/admin/users/account/{{userId}}">My Account</a></li>
                    <li role="presentation"><a routerLink="/admin/users/billing/{{userId}}">Billing </a></li>
                    <li role="presentation"><a class="active">IVR List </a></li>
                </ul>
                <div class="tab-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 billhist-base ivr-base nopadd">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ivrbutton text-right nopadd">
                            <a routerLink="/admin/createivr/{{userId}}" class="themebtn1"><span class="plus-icon-bill">+</span>CREATE IVR</a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 searchbar-container nopadd">
                            <input type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchbar" placeholder="Search">

                            <div class="table-responsive theme-table">

                                <p-table class="table table-striped" #dt [columns]="cols" [value]="datasource" [paginator]="true" [rows]="10" [first]="activepagination" (onPage)="pagechange($event)" [totalRecords]="totalRecords">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field"> {{col.header}}</th>
                                            <th> Call Log </th>
                                            <th> View Json </th>
                                            <th> Action </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td>{{rowData.ivrname}}</td>
                                            <td>{{rowData.createdAt | date}}</td>
                                            <td>{{rowData.createdby.name}}</td>
                                            <td>
                                                <p *ngIf="rowData.status" [ngClass]="{
                                                    'custom-orange':rowData.status === 'pending',
                                                    'custom-green':rowData.status === 'approved',
                                                    'custom-red':rowData.status === 'declined',
                                                    'custom-ash':rowData.status === 'draft'
                                                  }" class="">{{rowData.status}}</p>
                                                <p *ngIf="rowData.assignednumber" class="">Ivr Number: {{rowData.assignednumber}}</p>

                                            </td>
                                            <td>
                                                <p>
                                                    <a *ngIf="rowData.twilionumber" routerLink="/admin/calllog/{{rowData.twilionumber}}" class="custom-red ">View</a>
                                                </p>
                                            </td>

                                            <td>
                                                <p>
                                                    <a (click)="copyjson(rowData, 'twilio',rowData.assignednumber)" class="text-info cursor"> Twilio  </a>
                                                    <a (click)="copyjson(rowData,  'cuserve',rowData.assignednumber)" [class.disabled]="rowData.status !== 'approved'" class="text-info cursor"> Cuserve  </a>

                                                </p>
                                            </td>

                                            <td>
                                                <p>
                                                    <a routerLink="/admin/editivr/{{rowData._id}}/{{rowData.createdby._id}}">Edit</a>
                                                    <a (click)="deleteivr(rowData , i)" class="custom-red">Delete</a>

                                                    <button *ngIf="rowData.status === 'approved'" class="btn " (click)="uploadtocompanycuserve(rowData); uploadivrtocuserve(rowData)">Upload</button>

                                                </p>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="jsondata" class="login-modal modal fade " id="myModal">
    <i class="mdi mdi-close" (click)="closemodal()"></i>
    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-12 nopadd">
            <div class="modal-body col-md-12  ">
                <button class="copybtn themebtn pull-right" (cbOnSuccess)="copied($event)" ngxClipboard [cbContent]="jsondatastring">Copy</button>
                <!--<ngx-json-viewer  [json]="jsondata"></ngx-json-viewer>-->
                <!-- {{jsondata | json}} -->
                <pre>{{jsondata|json}}</pre>
            </div>
        </div>
    </div>
</div>