.password-eye i {
    font-size: 20px
}

.invalid-feedback {
    margin: 3px 0 0 0;
}

.formtit {
    float: left;
    width: 100%;
    font-weight: normal;
}

.imagePreview {
    float: left;
    width: 100%;
}