.modal {
    display: block;
    opacity: 1;
}

.rightpad p {
    padding: 0;
    margin: 0;
}

.discription-base table tbody td {
    padding: 5px 0 5px 14px;
    text-align: left;
}

.discription-base table thead p {
    text-align: left;
}