<div class="modal fade generatebill-modal " id="generatebill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <span (click)="close()" class="close">
        <i class="mdi mdi-close"></i>
    </span>
    <div class="modal-dialog modal-lg" role="document">
        <div id="contentToConvert" class="modal-content col-md-12    nopadd">

            <form #billform="ngForm" *ngIf="viewonly && billdata" (ngSubmit)="generatebill(billform)">
                <div class="modal-body generatebill-base col-md-12   ">
                    <div class="col-md-12    modal-logo nopadd">
                        <img src="assets/images/logo.png" alt="logo">
                    </div>
                    <div class="  col-md-12  modal-content1 nopadd">
                        <div class="col-md-6     modal-content1-inner nopadd">
                            <div class="col-md-2  modal-content1-section nopadd">
                                <p>Bill To</p>
                            </div>
                            <div class="col-md-8   modal-content1-section">

                                <p>{{billdata.billto.companyname}}</p>
                                <p style="opacity: 0;float: left;">126, Radhakrishnan Street, Belliyappa Nagar, Walajapet, Vellore, Tamilnadu, India - 632513.</p>
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right rightpad">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Date</p>
                            </div>
                            <div class="col-md-8  modal-content1-section">
                                {{billdata.createdAt | date}}
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right rightpad">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Payment Terms</p>
                            </div>
                            <div class="col-md-8  modal-content1-section">
                                {{billdata.paymentterms}}
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right rightpad">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Due Date</p>
                            </div>
                            <div class="col-md-8 modal-content1-section">
                                {{billdata.duedate | date}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 discription-base nopadd">
                        <div class="table-responsive">
                            <table style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 60%">
                                            <p>Description</p>
                                        </th>
                                        <th style="width: 13%">
                                            <p>Calls</p>
                                        </th>
                                        <th style="width: 13%">
                                            <p>Call cost</p>
                                        </th>
                                        <th style="width: 13%" class="text-center">
                                            <p>Amount</p>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <ng-container *ngIf="billdata.items">
                                        <tr *ngFor="let itemdata of billdata.items">

                                            <td>{{itemdata.description}}</td>
                                            <td>{{itemdata.calls}}</td>
                                            <td>{{itemdata.cost}}</td>
                                            <td>{{itemdata.calls * itemdata.cost}}</td>

                                        </tr>

                                    </ng-container>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12    generatebill-foot nopadd">
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-lg-9 modal-content1-section nopadd">
                                    <p>Sub-Total</p>
                                </div>
                                <div class="col-md-3 modal-content1-section">
                                    <input type="text" readonly class="input-control" [(ngModel)]="billdata.subtotal" #subtotal="ngModel" name="subtotal" id="subtotal">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-lg-9 modal-content1-section nopadd">
                                    <p>Tax (%)</p>
                                </div>
                                <div class="col-md-3 modal-content1-section">
                                    <input type="text" readonly class="input-control" [(ngModel)]="billdata.tax" #tax="ngModel" name="tax" id="tax">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-lg-4 modal-content1-section nopadd">
                                    <p style="
                                    font-size: 24px;
                                    margin: 15px 0 0 0;
                                ">Total</p>
                                </div>
                                <div class="col-md-8 col-sm-8  col-lg-8 modal-content1-section">
                                    <h3> ${{ billdata.total}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12    text-center  nopadd">
                            <button type="button" (click)="captureScreen()" class="themebtn">Download</button>
                        </div>
                    </div>

                </div>
            </form>



            <form #billform="ngForm" *ngIf="!viewonly" (ngSubmit)="generatebill(billform)">
                <div class="modal-body generatebill-base col-md-12   ">
                    <div class="col-md-12    modal-logo nopadd">
                        <img src="assets/images/logo.png" alt="logo">
                    </div>
                    <div class="  col-md-12  modal-content1 nopadd">
                        <div class="col-md-6     modal-content1-inner nopadd">
                            <div class="col-md-2  modal-content1-section nopadd">
                                <p>Bill To</p>
                            </div>
                            <div class="col-md-8   modal-content1-section">
                                <p-dropdown #dd [options]="customerlist" class="input-control" [(ngModel)]="billdata.billto" #billto="ngModel" name="billto" id="billto" filter="true" required></p-dropdown>

                                <p style="opacity: 0;float: left;">126, Radhakrishnan Street, Belliyappa Nagar, Walajapet, Vellore, Tamilnadu, India - 632513.</p>
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Date</p>
                            </div>
                            <div class="col-md-8  modal-content1-section">
                                <p-calendar class="input-control" [(ngModel)]="billdata.createdAt" #createdAt="ngModel" name="createdAt" id="createdAt"></p-calendar>
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Payment Terms</p>
                            </div>
                            <div class="col-md-8  modal-content1-section">
                                <input type="text" class="input-control" [(ngModel)]="billdata.paymentterms" #paymentterms="ngModel" name="paymentterms" id="paymentterms">
                            </div>
                        </div>
                        <div class="col-md-6     modal-content1-inner text-right">
                            <div class="   col-lg-4 modal-content1-section nopadd">
                                <p>Due Date</p>
                            </div>
                            <div class="col-md-8 modal-content1-section">
                                <p-calendar class="input-control" [(ngModel)]="billdata.duedate" #duedate="ngModel" name="duedate" id="duedate"></p-calendar>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 discription-base nopadd">
                        <div class="table-responsive">
                            <table style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 60%">
                                            <p>Description</p>
                                        </th>
                                        <th style="width: 13%">
                                            <p>Calls</p>
                                        </th>
                                        <th style="width: 13%">
                                            <p>Call cost</p>
                                        </th>
                                        <th style="width: 13%" class="text-center">
                                            <p>Amount</p>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <ng-container *ngIf="billdata.items">
                                        <tr *ngFor="let itemdata of billdata.items">

                                            <td>{{itemdata.description}}</td>
                                            <td>{{itemdata.calls}}</td>
                                            <td>{{itemdata.cost}}</td>
                                            <td>{{itemdata.calls * itemdata.cost}}</td>

                                            <!-- <td>
                                                    <input type="text" class="input-control" [(ngModel)]="cartitems.calls" #calls="ngModel" name="calls" id="calls">
                                                </td>
                                                <td>
                                                    <input type="text" class="input-control" [(ngModel)]="cartitems.cost" #cost="ngModel" name="cost" id="cost">
                                                </td>
                                                <td class="text-center">
                                                    <p>$ 146</p>
                                                </td> -->
                                        </tr>

                                    </ng-container>
                                    <tr ngModelGroup="cartitems" #items="ngModelGroup">
                                        <td>
                                            <input type="text" required (change)="getsubtotal(items)" class="input-control" [(ngModel)]="cartitems.description" #description="ngModel" name="description" id="description">
                                        </td>
                                        <td>
                                            <input type="text" (change)="getsubtotal(items)" required class="input-control" [(ngModel)]="cartitems.calls" #calls="ngModel" name="calls" id="calls">
                                        </td>
                                        <td>
                                            <input type="text" (change)="getsubtotal(items)" required class="input-control" [(ngModel)]="cartitems.cost" #cost="ngModel" name="cost" id="cost">
                                        </td>
                                        <td class="text-center">
                                            <p *ngIf="cartitems.calls && cartitems.cost">$ {{cartitems.calls * cartitems.cost}}</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <h6><a [class.disabled]="!items.valid" (click)="additems()"><span>+</span> Add items </a></h6>






                        </div>
                    </div>
                    <div class="col-md-12    generatebill-foot nopadd">
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-md-9 modal-content1-section nopadd">
                                    <p>Sub-Total</p>
                                </div>
                                <div class="col-md-3 modal-content1-section">
                                    <input type="text" class="input-control" [(ngModel)]="billdata.subtotal" #subtotal="ngModel" name="subtotal" id="subtotal">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-md-9 modal-content1-section nopadd">
                                    <p>Tax (%)</p>
                                </div>
                                <div class="col-md-3 modal-content1-section">
                                    <input type="text" class="input-control" [(ngModel)]="billdata.tax" #tax="ngModel" name="tax" id="tax">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12     nopadd">
                            <div class="col-md-6     modal-content1-inner pull-right text-right">
                                <div class="   col-lg-4 modal-content1-section nopadd">
                                    <p style="
                                    margin-top: 20px;
                                ">Total</p>
                                </div>
                                <div class="col-md-8 col-sm-8  col-lg-8 modal-content1-section">
                                    <h3 *ngIf="billdata.tax &&  billdata.subtotal"> $ {{billdata.subtotal + (billdata.tax/ 100) * billdata.subtotal}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12    text-center  nopadd">
                            <button [disabled]="!billform.valid" type="submit" class="themebtn">Generate bill and send</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>