<!-- <header>
    <div class="admin__menu">
        <div class="menu__left">

            <span class="menuicon">
                <i class="mdi mdi-menu"></i>
           </span>

            <input placeholder="Search" class="searchheader" type="text">
            
        </div>
        <ul class="menu__right"> 
            <li><a class="roundico" (click)="logout()"><i class="mdi mdi-account-outline"></i></a></li>
        </ul>
    </div>
</header> -->


<header>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 head-base">
        <div class="container">
            <div class="head-inner col-md-12 col-sm-12 col-xs-12  col-lg-12">

                <nav *ngIf="roles" class="navbar navbar-default menu-base">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                  <span class="sr-only">Toggle navigation</span>
                                                  <span class="icon-bar"></span>
                                                  <span class="icon-bar"></span>
                                                  <span class="icon-bar"></span>
                                                </button>
                            <span class="navbar-brand"><img src="../../../assets/images/logo.png" alt="logo"></span>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul *ngIf="roles" class="nav navbar-nav nav-tabs" role="tablist">
                                <li role="presentation" *ngIf="roles.includes('View_Users_List')" routerLinkActive="active" routerLink="/admin/users"><a>Users</a></li>

                                <li role="presentation" *ngIf="roles.includes('View_Billing_List')" routerLinkActive="active" routerLink="/admin/billing"><a>Billing 
                                     </a></li>
                                <li role="presentation" *ngIf="roles.includes('View_Request_List')" routerLinkActive="active" routerLink="/admin/request"><a>Requests 
                             
                                    <span  *ngIf="ivrlength && ivrlength > 0" class="count-indicator">{{ivrlength}}</span>
                                     </a></li>
                                <li role="presentation" *ngIf="roles.includes('View_Android_List')" routerLinkActive="active" routerLink="/admin/android"><a>Android 
                                    </a></li>
                            </ul>
                            <ul class="list-inline pull-right account-head-ul">
                                <li> <a routerLinkActive="active" *ngIf="roles?.includes('View_subadmin_List')" routerLink="/admin/subadmin" class="themebtn">SUB-ADMINS</a> </li>
                                <li><a (click)="logout()" class="themebtn">Logout</a></li>
                                <!-- <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="account-img"><img src="../../../assets/images/acc.png" alt="Accountcurserve"></span> <span class="drop-icon"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a (click)="logout()">Logout</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header>

<app-loader *ngIf="!roles"></app-loader>